.overview-page-content {
    padding-top: 80px;
}

.overview-movie-container {
  display: inline-block;
  width: 200px;
  height: 420px;
  margin:5px;
  overflow: hidden;
  
}

.overview-movie-cover {  
  width: 200px;
  height: 300px;
}

.overview-movie-text {
  margin-left: 5px;
}

.overview-movie-title {
  font-weight: bold;
}

.overview-movie-rating {
  display:none;
}
